[2021-09-02 12:09] Neo23x0 opened #1 "Compliance with DRL 1.1"
First of all, great tool 👍

Would it be possible to display the rule author somewhere whenever a rule matches on an eventlog entry to comply with the Detection Rule License?
Maybe in brackets behind the rule title in the column `detection_rules`?

https://github.com/SigmaHQ/sigma/blob/master/LICENSE.Detection.Rules.md

I guess this would be the right location:
https://github.com/countercept/chains

[2021-09-03 04:49] weslambert opened #2 "Valid JSON Output"
Great work on this! I really appreciate all the work that went into it!

While the individual objects contained within the JSON output are considered valid JSON, it seems like when they are concatenated together in the results file, they are not separated (by comma `,`), and/or considered as an array of objects (with open/closing bracket `[]`), so the results can't be picked up by tools that parse

[2021-09-03 10:45] rareguy opened #3 "thread "main" panicked when trying to use custom rules in `hunt` mode"
Hello, I downloaded the release version of chainsaw and it's running smoothly using sigma-rules from SigmaHQ, which is great. But once I use custom rules from another repository, it threw an error. I'm not sure where the error come from, but it became an issue when I'm trying to use custom rule.

[code]

Is the mapping incompatibility become an issue?

[2021-09-03 12:22] alexkornitzer commented on #3
Right this is probably some funky assumption I have made in the sigma to tau conversion part of chainsaw. Is there any chance you could present a minimal reproducable example (i.e. a stripped down version of the rule that is being problematic)? If not don't worry, i'll get digging.

[2021-09-03 12:42] fscc-jamesd commented on #1
Hi @Neo23x0

Thanks for raising this issue. I must have mis-understood the DRL as my interpretation was that as long as the sigma rule base remained unmodified, referenced and linked then showing the matching detections was okay without explicity naming the author for each detection.

My thought process for how the analyst workflow would work was:

[code]

The author information would be visible i

[2021-09-03 13:13] rareguy commented on #3
I used rules (the entire rules directory) from [https://github.com/joesecurity/sigma-rules](Joe Security) repository. It immediately crashed though. I don't know the rules that might be the issue, since the error didn't seem to let me know where it crashed.

[2021-09-03 13:20] alexkornitzer commented on #3
No worries, I have found the cause, its due to empty files. Going to get a fix out ASAP.

[2021-09-03 15:00] fscc-alexkornitzer commented on #2
The above should fix the json issue, I think we will then create a new issue to track the stdout support for piping purposes as an enhancement.

[2021-09-03 15:34] weslambert commented on #2
Sounds good, thanks!

[2021-09-03 15:36] weslambert opened #8 "JSON Output to Stdout"
It would be nice to have an option to output JSON results to stdout for immediate consumptions vs. writing to a file.

Originally discussed here: https://github.com/countercept/chainsaw/issues/2#issue-987394522

[2021-09-03 15:43] #2 closed

[2021-09-03 20:32] DFIRJoe opened #9 "Ability to use the --csv option to output the results to specified directory"
Hi,
Great Tool! Would love to see the --csv option to have the ability to output/write the csv files to a specified directory similar to the --json option?  With that, it should be pretty easy to integrate with other tools, such as integrating it as a kape module.

[2021-09-03 21:39] high101bro commented on #9
Agreed! Awesome tool! I would definetly apprecaite being able to specify the csv save location

[2021-09-03 21:52] high101bro opened #10 "--json output not properly formatted?"
I saved the results as a json file. I believe there's a format error somewhere. When I paste the contents into a json syntax verifier it fails, and when I import it into PowerShell and convert it, it also fails.

.\chainsaw.exe hunt .\evtx_attack_samples\Execution\exec_persist_rundll32_mshta_scheduledtask_sysmon_1_3_11.evtx --rules .\sigma_rules\ --mapping .\mapping_files\sigma-mapping.yml --later

[2021-09-04 05:16] rareguy commented on #3
btw, when is the next release?

[2021-09-04 11:08] alexkornitzer commented on #10
This is already fixed in master and will be out in the next release.

[2021-09-04 11:32] fscc-jamesd commented on #10
V1.0.1 has been released.

Running the with same commands as above now results in the expected output:

![image](https://user-images.githubusercontent.com/71783749/132092894-dc71c257-4283-426d-8efe-b11668d2dcce.png)

[2021-09-04 11:32] #10 closed

[2021-09-04 11:33] fscc-jamesd commented on #3
@rareguy - v1.0.1 was released today. 👍

[2021-09-04 11:42] fscc-jamesd commented on #9
Good idea, I probably should have implemented it in this way from the start to be honest. I'll take a look.

[2021-09-05 09:57] rareguy commented on #3
Hello,
When you mentioned that this error was due to empty files, I was not aware that it could be because all of the custom rules failed to load that it's assuming that there is no rules loaded. When I use the `check` module, it shows that almost all of the rules of those from Joe Security had "unsupported match" error that it chainsaw won't load. Maybe this highlighted another parsing error? Exa

[2021-09-05 11:26] alexkornitzer commented on #3
# The Panic

Right, so the issue for the panic was due to a stupid assumption by me. As you can see in the commit, and I am not sure why, I assumed that a sigma rule would always be valid and thus we would get a deserialisation. Obviously this was not the case and thus feeding an invalid rule, such as an empty file would cause a panic:
[code]

You may be asking why the above looks so complicated,

[2021-09-05 11:48] rareguy commented on #3
Very well explained, thank you. So it's about Tau's limitation.

Also, I would like to reopen this issue because I have similar error after the update with different words.
When I do this command syntax:
[code]
I got this output:
[code]
p.s.
Apologize there might be a mistake in typing, because I typed the output by hand for several reasons.

[2021-09-05 11:55] alexkornitzer commented on #3
Hmm okay, so that looks like a Tau bug. Which set of sigma rules are you using there?

[2021-09-05 11:59] rareguy commented on #3
So the rules folder filled with combinations of yml sigma rules (because I was assuming it's easier to work with when I put all the rules in bulk). I got it from various git repository, like Joe Security similar to previous one.

[2021-09-05 12:05] alexkornitzer commented on #3
If you are able to isolate the rule or shove me at the repo that causes the crash that would be great, cause there will be combination logic that is causing Tau to get into a state it should not be in. I can't replicate it with the official Sigma rules or the Joe ones.

[2021-09-05 18:00] alexkornitzer commented on #3
Right okay found the bug with this, its because the rule is invalid it has a typo:
[code]

Above we can see that the identifier name in the condition does not match that of the identifier. The reason this gets into unreachable code in the Tau engine is because we are bypassing parts of Tau's validation in Chainsaw when we do the conversion. I will get this validation stage into the converter so th

[2021-09-05 19:01] alexkornitzer commented on #3
This is now live in master and will be out in the next release.

[2021-09-06 15:46] #1 closed

[2021-09-06 15:46] fscc-jamesd commented on #1
This has been added to master with #11. It will be live in the next release.

[2021-09-06 15:50] fscc-jamesd commented on #3
v1.0.2 release is now out.

[2021-09-06 15:50] #3 closed

[2021-09-07 14:44] curtisk opened #12 "Latest release flagged in VirusTotal"
Pulled latest compiled release x64 windows

chainsaw_x86_64-pc-windows-msvc.zip

VirusTotal reports a few issues
![ChainSawLatest](https://user-images.githubusercontent.com/2028068/132364520-c5e2546f-4227-49eb-9880-372073651472.JPG)

[2021-09-07 14:58] high101bro opened #13 "PowerShell Object Data"
It would be extremely useful for this tool to have a switch like --PSObject, that outputs the results to stdout as PowerShell object data. Currently, I have to save the results to a csv file then import it into PowerShell for additional manipulation using "Import-Csv "chainsawfile.csv". Though, this mild inconvenience isn't a show stopper, skipping the step of saving the results and being able to

[2021-09-07 16:37] fscc-jamesd commented on #12
Hey @curtisk

This is likely due to the event logs in the "evtx_attack_samples" directory. These are event logs (cloned from https://github.com/sbousseaden/EVTX-ATTACK-SAMPLES) contain examples of real attacks, and the AV's that are triggering above are likely just looking for simple string matches for 'known bad' strings. E.g. if you search the event logs for the string "mimikatz" you're going to

[2021-09-07 16:37] #12 closed

[2021-09-07 18:59] curtisk commented on #12
@fscc-jamesd Thanks for the follow up, I do see those samples are triggering the majority of it and it makes sense

[2021-09-08 01:10] zengjie1 opened #14 "killed by security tools"
Symantec category: Malware
Hash: 90A88E340271274B9BFF5502C34E4669CD450FD6286625E827FB66019A9F1B6B

[2021-09-08 19:56] kenrmayfield opened #15 "chainsaw_x86_64-pc-windows-msvc.zip"
Chainsaw for Windows does not run in Windows 7?  Is there a Version that will run in Windows 7?

However it does run in Windows 10.

Kenneth

[2021-09-08 21:24] fscc-jamesd opened #16 "Memory Exhaustion Error"
When running chainsaw in search mode against a very large set of event logs, if the search parameters are broad enough to capture a lot of results then the memory used by Chainsaw will balloon and may result in the binary being terminated.

This is due to #7 where we now load hits into a Vec before printing in order to output JSON correctly. If there are too many matches then the Vec will bloat ou

[2021-09-09 00:09] fscc-jamesd commented on #14
Hi @zengjie1

I raised this to Symantec and they've confirmed that it's a false positive and they will whitelist it. However, if they've just whitelisted via Hash then there's a good chance this may happen again in the future. Unfortunately there's very little that I can do about this.

![image](https://user-images.githubusercontent.com/71783749/132601606-d103fd98-e5c8-4fa2-85af-53c1eca18fb6.png)

[2021-09-09 00:09] #14 closed

[2021-09-10 11:45] ClintRajaniemi commented on #13
I'm wondering if it would make more sense to allow outputting the json to stdout then leave the user to handle as they need. For PowerShell you then pipe it to, say, ConvertFrom-Json to get the custom PSObject.

What I'm not certain about is if this method would want for the records to be in separate json entries. Looking at the json output file they are currently sent as an array of json records.

[2021-09-10 14:03] DFIRJoe opened #17 "CSV output to Stdout"
similar to issue #8 having an option for the csv output to stdout would be great

[2021-09-12 12:02] splunk-user1 opened #18 "can it take json as input ? (question)"
I have evtx saved as json. Noticed in your blog that you convert evtx to json, before searching thru them. Is it possible to feed json directly ? Thanks

[2021-09-13 08:35] stdio-h opened #19 "EventID in Sigma Rules not matching (String vs Numeric)"
Most sigma rules use numeric EventID - i.e.:

<pre>detection:
    selection:
        EventID: 7045
        ServiceName:
            - 'srservice'
            - 'ipvpn'
            - 'hkmsvc'
    condition: selection</pre>

modules.rs [line 215] however converts the EventID to a String

<pre>doc["EventID"] = json!(event_id.to_string());</pre>

and the condition (EventID: 7045) is therefore not met.

[2021-09-18 14:39] evild3ad opened #20 "CSV Encoding"
Awesome tool...thx for sharing with the community!

The CSV output should be in UTF8. Please fix this with your next release. Thank you!

I processed EVTX files from a French system and a lot of characters were bogus. JSON output looked fine.

Cheers!

[2021-09-24 10:56] jimbowaba opened #21 "Rules folders not loading correctly"
No matter what folder you specify it seems to load the default rules folder

[2021-09-26 12:12] rathbuna commented on #9
Seconded. Will update KAPE Module once this is implemented.

[2021-09-26 13:12] fscc-jamesd commented on #21
Hi @jimbowaba

I'm not able to replicate this on my side. There is "default" rules folder, the rules folder must always be specified via the "--rules" flag.

[code]
As you can see with the above, 979 rules were loaded when pointing at the "../../sigma_rules" folder, but when I specify a different directory:

[code]

Only 54 detection rules are loaded, which to me would mean that chainsaw is using

[2021-09-27 08:46] jimbowaba commented on #21
Hi @fscc-jamesd thanks for your speedy reply (and awesome tool). A few of us spent a while looking into this and realised that it was a misunderstanding on our part. We didn't realise that the rule output would show the built in logic in every result, we assumed that specifying a ruleset would only show results specific to that ruleset. As we were choosing small ruleset that weren't hitting it was

[2021-09-27 08:46] #21 closed

[2021-09-27 11:43] fscc-jamesd commented on #21
Hey @jimbowaba

Ah, I understand.

There's the option `--no-builtin` which should achieve what you want. This will disable all of the builtin detection logic and only use the rules specified by the `--rules` file. 👍

[2021-10-13 23:24] zaneGittins opened #22 "Feature Request: Quiet Option"
Request to include a -q flag that only prints the JSON output (excludes banner, etc.). This would make it easier to pipe the output of chainsaw to other tools.

[2021-10-17 13:52] einarssonm opened #24 "Start / end date options to select events to process"
Request to include start / end date options, to select events to process. This would optimize processing of large event log files, such as ForwardedEvents.evtx with 10-20 GB max size. Ideally the date filters would be applied as early as possible, to avoid unnecessary processing of irrelevant events. Suggested options:

[code]

[2021-10-19 18:23] alexkornitzer commented on #20
@evild3ad could you possibly provide a tiny sample file for this? Then I should be able to replicated and fix as I have a feeling it won't be fixed in my PR above.

[2021-10-21 07:55] einarssonm opened #25 "Support for WEF/WEC ForwardedEvents.evtx"
Request to add support for WEF/WEC ForwardedEvents.evtx files. Chainsaw seems to process such files, but no results are shown for searches or hunts. See examples below:

![image](https://user-images.githubusercontent.com/86156109/138234472-2640bd73-f689-4820-840e-d327fc0f8da4.png)

![image](https://user-images.githubusercontent.com/86156109/138234538-c4ba48cd-9062-4e19-9441-999f8e2bc75a.png)

![im

[2021-10-21 08:15] einarssonm opened #26 "Support for more F-Secure alerts / log providers"
Request to add support for more event log providers related to F-Secure alerts. The built-in support for F-Secure alerts consumes events from the "F-Secure Ultralight SDK" provider. My limited research shows that alerts are also found in the "F-Secure File scanning" and "FSecure-FSecure-F-Secure DeepGuard" providers. These alerts aren't detected by Chainsaw.

![image](https://user-images.githubuse

[2021-10-21 16:42] evild3ad commented on #20
You got email.

[2021-10-21 21:11] fscc-jamesd commented on #25
Hi @einarssonm

Thanks for raising this. Do you have any example event logs containing ForwardedEvents that you could share so that I can look into adding support please?

[2021-10-24 19:27] einarssonm opened #30 "Incorrect Sigma detections since v1.1.0"
Potential bug resulting in incorrect Sigma detections since Chainsaw v1.1.0.

When parsing a System.evtx file with Chainsaw v1.1.0 (from "chainsaw_x86_64-pc-windows-msvc.zip"), several Sigma rules are incorrectly triggered by every 7045 event. See example below:

![image](https://user-images.githubusercontent.com/86156109/138609178-56f4ca82-8850-4fe3-b45a-3a82ef91f1b2.png)

A similar test using Ch

[2021-10-24 23:17] #30 closed, assigned to fscc-jamesd

[2021-10-25 18:25] AndrewRathbun opened #32 "Add --sync command for updating Sigma rules from SigmaHQ repo"
Hello,

Thanks for all your work on this fantastic tool!

Sigma rules in the [SigmaHQ](https://github.com/SigmaHQ/sigma) repo seem to change by the hour. It's a very fast moving repo, as I've come to find out. Manually updating these Sigma rules is simply something most people won't do and over time they'll be missing out on new rules for the latest threats. A fair amount of examiners likely won't

[2021-10-26 15:00] michaeljgoodman opened #33 ""+" at the start of detection_rules column values"
Even when only a single rule matches, testing numerous sets of logs will often come back with "+ Accessing WinAPI in PowerShell" or something similar, where the + character is added to the start of the column value.

I'm unsure if this is because there may be one or more rules in the main sigma ruleset that don't have a title, but even in that case it would be preferable to exclude the empty " +"

[2021-10-26 15:29] fscc-jamesd opened #34 "Search Progress Bar not working since v1.1.0"
Since we merged in #23 the progress bar for the search functionality no longer seems to work.
The hunt search bar still works, so I assume this might be to do with how we are printing now?

@alexkornitzer - One for you to take a look at if you have time?

![image](https://user-images.githubusercontent.com/71783749/138911347-73bebde0-ba4e-4e7d-b4fd-c7893c9861c3.png)

[2021-10-28 18:41] juaromu opened #35 "CSV Files not generated correctly"
When \r present in columns, the CSV files generate additional lines and not formatted correctly:

system_time,id,detection_rules,computer_name,Event.EventData.TargetFilename,image
2021-10-26 05:58:04,11,"+ Suspicious xxxx
File Created In TMP","""xxxx""",xxxx,xxxx
2021-10-26 06:55:36,11,"+ Suspicious xxxx
File Created In TMP","""xxxx""",xxxx,xxxx

This is normally the case for the column "Detection

[2021-11-01 13:07] michaelgoodman-cr commented on #19
_delete if this doesn't have a place here but_
As a temporary solution, the following can transform the sigma rule data set:
[code]

[2021-11-01 16:09] johnathan-fern opened #36 "Output Directory option?"
Curious as to why there isn't an option for both hunt/search for an output directory?

I use this for multiple concurrent clients and it creates a lot of overhead to either move chainsaw and its libraries needed, or constantly moving the folder created from where chainsaw executes to my current working directory

[2021-11-01 19:34] alexkornitzer commented on #35
Yeah this is on the list. The formatting done to present in the cli is not stripped on csv output. This is a bug.

[2021-11-01 20:39] juaromu commented on #35
Thank you

[2021-11-03 12:46] Yeti-Sec commented on #19
Thanks for the doing the leg work on that Michael. I just put this together for the nest event ID statements using the loop you put together

`'s/\(- \)\([[:digit:]]\{1,5\}\)/\1"\2"/'`

[2021-11-04 16:54] AndrewRathbun commented on #22
Is there a way this `-q` switch could still display this info? Or maybe another switch that just removes the banner entirely and keeps everything else?

![image](https://user-images.githubusercontent.com/36825567/140383709-01c2441e-8946-4bf2-8b88-8807d8f5e659.png)

As you can see the banner doesn't translate well in the above image :)

[2021-11-09 19:47] alexkornitzer opened #37 "Fix incorrect parsing of Sigma's Rule Collections"
At the time I clearly did not read this bit of the spec properly (or at all). So that way we parse sigma into tau for Rule collections is incorrect. This results in issues (#19, #30). Correcting this should not be too difficult.

[2021-11-12 16:01] Kerokus opened #39 "Output failed file?"
We pull event logs out of RAM for forensic analysis. This can lead to both complete and incomplete files, and when you have hundreds of event logs trying to figure out which ones are good and which ones are bad can be tedious. When Chainsaw hits an incomplete/corrupt file it stops the whole search with the message "an error occurred while trying to deserialize evtx stream". If there's 400 evtx log

[2021-11-17 23:53] #19 closed

[2021-11-17 23:54] #37 closed

[2021-11-17 23:56] fscc-jamesd commented on #32
Ignore the above, mistakes were made.

Regarding this issue, I'm reluctant to add sync functionality directly into chainsaw itself. I think the correct solution here is to either clone this repo and then you can periodcally update the sigma-rule submodule as needed. Alternatively just clone the sigma rule repo seperately and point chainsaw at that.

Adding sync functionality would bloat out chains

[2021-11-17 23:56] #32 closed

[2021-11-17 23:58] fscc-jamesd commented on #39
Hi @Kerokus

This is a good find, thanks for rasing this issue. I never considered the use case of needed to supported partially corrupted event logs, but your explanation makes sense. I'll look at adding this though a `--skip-verify` option or similar.

[2021-11-17 23:59] fscc-jamesd commented on #17
Agreed. The lack of a common header pattern would make this very difficult to implement. My suggestion would be to output as JSON and then format that output as required.

[2021-11-17 23:59] #17 closed

[2021-11-18 13:22] michaelgoodman-cr opened #40 "A single invalid evtx stream halts processing of multiple files"
Running on a sample of 178 evtx files and it fails quickly throwing the error "[!] Chainsaw exited: An error occurred while trying to deserialize evtx stream."

However, it does not give any indication of which log file it failed to parse, and with 100+ logs it's time consuming to work out which evtx file(s) it's struggling with.

Additionally it can be tedious to copy the files to a new location

[2021-11-18 16:40] fscc-jamesd commented on #40
Hi @michaelgoodman-cr

Thanks for rasing this. I've got a fix on the way for this issue as it was also raised in #39

I'll close this as a duplicate for now and update the other issue once I've implemented a fix.

[2021-11-18 16:40] #40 closed

[2021-11-18 16:46] fscc-jamesd commented on #39
Re-opened, closed it by mistake. I've got a fix on the way for this.

[2021-11-19 09:27] michaelgoodman-cr opened #41 "Rule seemingly not matching certain event IDs"
Upon attempting to create some test rules, I could not get a simple contains condition to hit on a type 400 powershell event. So I removed everything from the condition but the event ID and tried again, and still got no hits.

Tried removing as much as possible to isolate the problem, changing the log source service and product between the various "powershell", "powershell-classic" etc... used acr

[2021-11-22 16:48] alexkornitzer commented on #41
So this appears to be a limitation of the mapping design in chainsaw. As there is no mapping for EventID 400, chainsaw is returning no results. I will confer with @fscc-jamesd so we can decide how we wanna handle this.

[2021-11-23 03:28] Blason opened #42 "Is there any installation guide?"
I cloned the repository and tried compiling the software but unfortunately I did not find any relevant document to do so. Am I missing anything or looking at wrong place? My OS is Ubuntu-20.04

[2021-11-23 03:30] AndrewRathbun commented on #42
Try the Releases?

https://github.com/countercept/chainsaw/releases/tag/v1.1.2

[2021-11-23 03:37] Blason commented on #42
I guess I downloaded the same one. But I feel I downloaded source codes. Thanks for pointer

[2021-11-23 03:37] #42 closed

[2021-11-23 11:31] fscc-alexkornitzer opened #43 "Give it a bit of a clean and add some very much needed tests :P"
So IMO the chainsaw code needs a bit of a clean. We also need to add tests so that its easier for contributions and changes. When I find some time I will try and make some headway into this.

- [x] Refactor to handle Rust style testing
- [ ] Clean code as required

[2021-11-25 00:23] fscc-jamesd commented on #39
@Kerokus  This should be fixed in #44. Chainsaw will now output the name of the EVTX file that failed to parse, and also adds to `--ignore-errors` option to not stop chainsaw when it hits an evtx parsing error.

[2021-11-25 00:23] #39 closed

[2021-11-25 13:13] fscc-jamesd commented on #24
This has been added in #29 and is now live in the latest build. Let me know if you find any issues.

[2021-11-25 13:13] #24 closed

[2021-11-26 11:30] georgethemarmot commented on #25
Hi, I can confirm the issue with Forwarded Events.
The behavior is connected to EVTX Parser, see the following bug:
https://github.com/omerbenamram/evtx/issues/201

[2021-11-26 16:21] termcap opened #45 "Request for time filters(start and end dates) in local time"
It would be great to have the start and end date filters support the local machine time as apart from servers most desktops in an organization would have local time set.

Currently the events returned with date filters set are also in UTC time which means one needs to reconvert back the output to local time.

[2021-12-01 00:04] Richard1611 opened #46 "Support for Syslog/CEF output"
Request to add support for sending the output as Syslog or CEF stream.

This would give the possibility of performing threat hunting on multiple teams at the same time without the need for forensic acquisitions.

Example:

1-Display chainsaw on a big grouf of computers (Ex: 1000)
2-Execute a chainsaw command on multiple computers. (Example: With psexec.)
3-Receive all the data in a SIEM and query

[2021-12-02 03:57] askvpb opened #47 "Trend Micro Antivirus removing chainsaw.exe as malicious file"
Trend Micro Antivirus removing chainsaw.exe as a malicious file. Is there any way we could get it reported to trend to allow it?

[2021-12-02 04:06] askvpb commented on #47
https://www.virustotal.com/gui/file/ed23f2b8288cdf349b973c42c0052b0f59db8d7ccd8bc306e63f301558a01fa9/detection

[2021-12-02 19:31] fscc-jamesd commented on #46
Hi @Richard1611

Unfortunately chainsaw is not designed to centralise logs, there are better tools that can achieve this. An approach you might want to consider is to enable windows event forwarding (WEF) and then run chainsaw against the logs which have been collected in a central location.

Unfortunately there appears to be an issue with the underlying rust evtx library which means that forwarde

[2021-12-02 19:31] #46 closed

[2021-12-02 19:50] #34 closed

[2021-12-02 19:54] fscc-jamesd commented on #18
@splunk-user1

Currently chainsaw can only take in event logs in their original evtx format. Down the line I might look at implementing the ability to ingest event logs in JSON format if there's anough demand for it. I'm going to close this issue for now.

[2021-12-02 19:54] #18 closed

[2021-12-03 10:41] georgethemarmot commented on #46
Hi @Richard1611
WEF is efficient to centralize, but the forwarded event file is big (eg > 20GB) it will be really slow to process or filter.
If you want to split the collection evtx file by source you have to change and recompile the event collection dll and MS documentation is missing.
I suggest to look into SIEM solutions.
https://github.com/wazuh/wazuh is a free solution if you have time to fid

[2021-12-03 16:22] fscc-alexkornitzer commented on #43
Going to start with tests first because that will make the refactor and clean easier.

[2021-12-06 19:49] dsplice opened #49 "Expand --ignore-errors to include system errors"
When running against some triage images that contain unreadable directories, chainsaw will exit even with --ignore-errors set.

Example:
`Chainsaw exited: IO error for operation on E:\System Volume Information: Access is denied. (os error 5)`

[2021-12-28 05:48] forensicmatt opened #51 "Use separate-json-attributes"
Curious why not use `separate-json-attributes` for the EvtxParserSettings?

The issue with not using this settings is that it causes inconsistent json attribute naming standard:
![image](https://user-images.githubusercontent.com/8909830/147532042-f4c8f059-b6b0-4a6e-82dd-14d381475553.png)

When ever a XML element as an attribute, the JSON field will split into a `#text` and `#attributes`. This caus

[2022-01-07 03:38] forensicmatt commented on #51
https://github.com/Yamato-Security/hayabusa/blob/3e4660622cbea84fc0612e80f0805a8b45c47cc3/src/main.rs#L365

[2022-01-07 14:33] fscc-jamesd commented on #51
Hi @forensicmatt

Thanks for raising this issue. I have created PR #54 which should implement what you're discussing here. Do you want to take a look and make sure I've implemented it as you were thinking?

I'll merge into master once it's been reviewed.

[2022-01-08 21:54] forensicmatt commented on #51
Looks good. Now you wont have to guess when its going to be `Attribute` or `Attribute.#text`

[2022-01-09 14:53] #51 closed

[2022-01-09 21:54] fscc-jamesd commented on #33
Hi @michaeljgoodman

Thanks for raising this issue.

Just to make sure I'm understanding this issue correctly, the "+" is the 'rule prefix' that is used to delimit the start of each new rule that has fires. It will appear at the start of every rule name. So in the example you showed above there is only one total rule "Accessing WinAPI in powershell" that has fired. Does this still cause an issue f

[2022-01-10 10:14] michaeljgoodman commented on #33
Ah okay. If this is a prefix then it's working correctly. I misunderstood it as a character placed _between_ rule names.

In which case, just excluding it from the csv output would be perfect.

[2022-01-13 18:16] SirGibihm opened #57 "search -o and -j Parameter not working as intended"
### `-o` Parameter
#### Expected behavior as per README.md
Using `chainsaw <EVTX-File> -o example.txt` lets me save the results to a txt file.

#### Actual behavior
[code]

### `-j/--json` Parameter
#### Expected behavior as per `.\chainsaw.exe search --help`
 `.\chainsaw.exe search --help` does not show any `-o` option for *chainsaw*. It instead shows a `-j/--json` option. This should store the o

[2022-01-13 18:19] FranticTyping commented on #57
Hey @SirGibihm

This one is entirely my fault. I've neglected to update the readme since v1 was released and since that time we've added quite a bit of new functionality. Typical issue of coding being more fun than documentation!

Thanks for raising this issue. I'll get it sorted 👍

[2022-01-26 16:50] LiamWakefield opened #58 "--lateral-all on large logs"
had a 200mb log which shows the 4626 when using "search" however doesn't when using "hunt".

is it an issue with log size?

[2022-02-07 11:24] 56616c6f72 opened #59 "Json output missing detections"
Yo yo,

It's your boy, Mert.

Was just testing the json output. It looks like built-in detections do not get appended to the json output. Was this by design or a bug?

Json output:
![image](https://user-images.githubusercontent.com/57438904/152779036-70db7874-aebe-4cc5-8930-f472056bb138.png)

Normal output:
![image](https://user-images.githubusercontent.com/57438904/152779282-5a5890d0-4ca2-4126-88

[2022-02-08 13:04] 0x90v1 opened #60 "--json output path not working for hunts"
I'm trying to generate a json output file. Unfortuanttly it seems not to work because it's not allowed to add a path after --json like --json C:\TEMP\test.json

**Expected behavior:**
If I'm running the command:
chainsaw.exe" hunt C:\Windows\System32\winevt\Logs --rules "C:\xyz\xyz\xyz\chainsaw\sigma_rules" --mapping "xyz\xyz\xyz\chainsaw\mapping_files\sigma-mapping.yml --json C:\xyz\xyz\xyz\chain

[2022-02-10 11:53] michaeljgoodman commented on #41
Is this to say that if there is no mapping for an event id within the mapping file, then no rules can match on those log entries?

[2022-02-12 21:32] CyberAustin opened #61 "--json not outputting correctly with search"
The JSON output for "search" puts a [] around the JSON data and introduces other formatting errors.

From Firefox: `SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data.` Even if I remove the []'s, I still get that.

`Get-Content -Raw .\output.json | ConvertFrom-Json` returns blank data as well.

This is chainsaw version 1.1.5 on Windows 10.

[2022-02-14 13:08] fscc-alexkornitzer commented on #60
Hi @0x90v1,

I believe the issue you are having is due to the out of date README. With the latest Chainsaw the saving of JSON output is now done with file redirection such as `... -j > ./output.json`.

[2022-02-17 01:37] CyberAustin commented on #61
Yeah, I'm trying to find some sample data that I can duplicate it on that I can also release. I can summarize a bit though. First, the JSON is surrounded by []. Second, it almost looks like some ASCII characters were replaced by similar looking Unicode characters. I'll keep trying to reproduce though.

[2022-02-17 07:17] 0x90v1 commented on #60
hey alex, thanks for your response. Unfortunatlly I'm running into strange problems with my deployment of chainsaw if I have to pipe the output like that. I'm using Velociraptor to deploy chainsaw and collect the logs. Wouldn't it be possible to renable the paramter --json <outputfile> as it was before?

[2022-02-17 17:25] dfirhoze opened #63 "Feature Request - Parsing event log xml file"
Wondering if there is a way to parse an XML file of event logs that may have been extracted from memory with volatility or
 Willi Ballenthin's evtxtract.  Not able to find a method to extract the individual logs from the xml, but if this feature could be added to the tool, that'd be awesome! Thanks!

[2022-02-17 19:08] alexkornitzer commented on #61
Please, that would be a great help. The `[]` is expected because it is returning an array of results even if there is only one hit.

It probably is due to some odd edge case in an event log you have so tracking down the issue would be great if you can manage to isolate an example.

[2022-02-17 19:10] alexkornitzer commented on #60
Hmm okay, rather than reverting i'll see if we can add an `--output` arg for when piping is not possible. Ill add it to my list.

[2022-02-17 19:13] alexkornitzer commented on #63
We would need to add in an xml parser in order to do this. I am not sure how flexible the current design of the code is to enable that though. Also I think this idea might have been shot down in the past. But i'll have a look to see how viable it is.

[2022-02-19 22:22] FranticTyping commented on #47
Hi @askvpb

Unfortunately there's very little that we can do about anti-virus services flagging chainsaw as malicious. I've just looked at the VT results again and it seems like only cynet is detecting it. I can only assume they're doing some kind of heuristics which is falsely triggering on chainsaw in this case.

This has been reported previously here: https://github.com/countercept/chainsaw/iss

[2022-02-19 22:22] #47 closed

[2022-02-20 15:58] FranticTyping commented on #57
Hi @SirGibihm,

Thanks for reporting this. I've updated the README file and the help output so that they're now accurate.

[2022-02-20 15:58] #57 closed

[2022-02-20 17:43] FranticTyping commented on #60
Hi @0x90v1 ,

I've merged #64 into master and kicked off a new build for v1.1.6.

This should resolve this issue, but if it doesn't please feel free to re-open this issue.

[2022-02-20 17:43] #60 closed

[2022-02-21 10:10] 0x90v1 commented on #60
hey everyone I just tested the v1.1.6 build and it seems that the error is still the same as soon as I put the --json with a output file in it:

If I'm running the command:
chainsaw.exe" hunt C:\Windows\System32\winevt\Logs --rules "C:\xyz\xyz\xyz\chainsaw\sigma_rules" --mapping "xyz\xyz\xyz\chainsaw\mapping_files\sigma-mapping.yml --json C:\xyz\xyz\xyz\chainsaw\output.json

I get the following "e

[2022-02-21 10:19] FranticTyping commented on #60
Hi @0x90v1

The `--json` flag just tells chainsaw to change the output type to JSON. It doesn't take a parameter for where to save the file.

The PR above introduced the --output param which allows you to specify an output file for Chainsaw to save the output into.

Using these two params together should now allow you to achieve what you need:

[code]

The above will create foo.json which contains

[2022-02-21 10:34] 0x90v1 commented on #60
indeed that's working :-) Thanks a lot for that change and input. You are doing great!

[2022-03-07 16:41] etaylor77 opened #66 "warning: field is never read"
Running Ubuntu 20.04 and getting the following errors when launching cargo build

`warning: field is never read: `category`
  --> src/convert/sigma.rs:22:5
   |
22 |     pub category: Option<String>,
   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   |
   = note: `#[warn(dead_code)]` on by default

warning: field is never read: `product`
  --> src/convert/sigma.rs:24:5
   |
24 |     pub product: Option<Stri

[2022-03-07 23:06] bmmojo opened #67 "How to install on Windows 10"
Hey, a beginner at this I was wondering if anyone could help me install this on my Windows 10?
I'm really not getting it... Thanks in advance!

[2022-03-08 01:46] AndrewRathbun commented on #67
There is nothing to install. You simply run the tool from the command line. Let me know if you have further questions beyond that.

[2022-03-10 20:52] FranticTyping commented on #67
Hi @bmmojo

As mentioned above, there's nothing to install for this tool. You can download the latest compiled version of chainsaw from the releases page: https://github.com/countercept/chainsaw/releases

You can then just unzip the binary and run the tool directly. Feel free to re-open this issue if you have any issues.

[2022-03-10 20:52] #67 closed

[2022-03-10 20:55] FranticTyping commented on #66
Hi @etaylor77,

These are just warnings and not errors. They're only there because there are a few fields that are declared but not used, it won't impact the tool.

The compiled binary will still be available in the release section.

I'll probably remove these in the next release, but it's a non-issue imo.

[2022-03-10 20:55] #66 closed

[2022-03-10 22:07] AndrewRathbun commented on #49
I've seen this before, too. Seconded.

[2022-03-11 17:38] bmmojo commented on #67
Hey @FranticTyping @AndrewRathbun Thanks for the reply. Apology for replying back so late.

I downloaded chainsaw_8664-pc-windows-msvc.zip  however when I run chainsaw.exe nothing shows up unfortunately am I missing something?

[2022-03-11 17:43] AndrewRathbun commented on #67
@bmmojo you need to run it from the command line, like this:

![cmd_7Q3QZIb8H6](https://user-images.githubusercontent.com/36825567/157920835-fe803f22-c9ac-46bf-832f-1afa9cb69cc6.gif)

You can see the help info for the subcommands by doing this:

![cmd_tmqJD4nFXC](https://user-images.githubusercontent.com/36825567/157921365-631cdb31-461d-4c62-ba29-daa3ee09437e.gif)

[2022-03-11 18:45] bmmojo commented on #67
@AndrewRathbun

Ah awesome! Thank you for showing me! :)

[2022-03-28 02:23] jvmendezp opened #68 "Add Sigma Rule Id to results"
Hello, thanks a lot for this amazing product.

Currently, Chainsaw result includes the name of matched Sigma rule. Can you include Sigma rule ID and description too?

Sigma ID is a mandatory field according to https://github.com/SigmaHQ/sigma/wiki/Specification, but it could be nice to know more information about the match from the Sigma rule specification.

Thanks!

[2022-03-28 02:36] jvmendezp commented on #68
Maybe we could set up what Sigma rule field should be in the response output.

[2022-04-16 19:50] tomnewman86 opened #69 "Documentation or guidance on expanding Chainsaw's functionality"
Hello,

Would it be possible for some documentation or guidance on how to expand the functionality of Chainsaw using sigma rules and chainsaw's mapping file?

I've spoken with a number of people in the DFIR community who would love to be able to contribute and build on what is already an amazing tool but have struggled to understand how to write new rules and then map it to Chainsaw's output (myse

[2022-04-16 19:56] AndrewRathbun commented on #69
I echo everything above. Potential contributor here but haven't yet been able to grasp how to expand Chainsaw's functionality on my own.

[2022-04-16 21:55] FranticTyping commented on #69
Thanks for raising this issue, this is really valuable feedback.

I'll work on building out some clearer documentation on how chainsaw uses the mapping file to apply the Sigma rule logic.

[2022-04-16 22:55] AndrewRathbun commented on #69
Thank you so much. A walkthrough of even an existing mapping with commentary would be very useful. I'd be happy to provide feedback as I attempt to build out further detections.

Thank you 👍

[2022-04-17 08:02] tomnewman86 commented on #69
That's brilliant. Thank you.

As Andrew has said above, I'm more than happy to run tests and provide feedback on any/all support you can offer.

[2022-04-19 23:39] bmmojo commented on #69
@FranticTyping Just curious if you have an estimated time of arrival (ETA) of when that documentation would come out? Similar to @tomnewman86 and @AndrewRathbun, I was tryign to figure out how to expand the current Sigma rule and mapping file in Chainsaw to this project I was doing that had ProxyShell... but it didn't give me much.

[2022-04-23 15:07] FranticTyping commented on #69
I took a stab at improving some of the documentation today.

If you check out the 'How to add support for more rules' section of the readme (it's at the bottom) in the ["documentation_improvements" branch](https://github.com/countercept/chainsaw/tree/documentation_improvements) and let me know if that helps at all.

Please let me know if anything is unclear or if you'd like me to expand/add any mo

[2022-04-23 15:18] tomnewman86 commented on #69
This is very much appreciated James. I'll put some time aside to go through it, absorb it and then attempt to build some new rules.

I'll report back as soon as I've had an attempt, with any comments or questions.

Thank you for taking the time to do this.

[2022-04-23 15:23] AndrewRathbun commented on #69
@FranticTyping Definitely a great start! I'll digest this further (as I'm sure others will) as we re-attempt furthering Chainsaw's functionality.

One thing I did want to pass on was when trying to identify which fields may be of relevance, you could provide a link to a repo I've been doing lots of work on. I hate to come off as self-promotional, but the repo was created exactly for use cases like

[2022-04-27 18:18] AndrewRathbun commented on #69
@tomnewman86 @bmmojo is there a place we should centralize ideas in a to-do list? There aren't any active Projects/Kanban boards in this repo but maybe we could use a single Issue or the Discussions (if enabled) to collaborate on ideas. Thoughts?

[2022-04-27 21:41] alexkornitzer commented on #69
@AndrewRathbun I'll go through the settings tomorrow and make sure those options are enabled. I'll also gear up the wiki and add some other missing stuff in. Should be able to carve some time when I am in the office.

[2022-04-28 08:08] fscc-alexkornitzer commented on #69
@AndrewRathbun discussions should be enabled now, lemme know if they are not appearing.

[2022-04-28 09:22] AndrewRathbun commented on #69
I see them, thank you!

[2022-04-28 19:52] tomnewman86 commented on #69
Yes this a great idea. I've not really used discussions/kanban boards before so this feels like a perfect time to familiarise myself.

[2022-04-28 20:04] BustedSec opened #70 "Path issue leading to merging sample logs"
On one of my first run-throughs of using Chainsaw I mistakenly put the logs I wanted to parse in the root of the program folder on a windows machine and then ran some analysis tasks. It seems it will recursively check subfolders under the main folder for additional event files and add them to the capture. This resulted in me thinking I was seeing signs of compromise in the output .csv files that w

[2022-04-28 20:50] alexkornitzer commented on #61
Right have finally worked this one out, it looks like Powershell is messing with the encoding. The current work around is to use `--output` rather than file redirection. Once we work out what Powershell is doing then we might be able to fix it.

[2022-04-28 20:50] #61 closed, assigned to nobody

[2022-04-28 20:52] alexkornitzer commented on #70
So I am personally of the opinion that chainsaw download should only contain the binary, while the examples, mappings and rules should then be acquired separately. But this needs to discussed with a wider audience.

[2022-04-28 20:52] AndrewRathbun commented on #69
I use them all the time. Good example here: https://github.com/EricZimmerman/KapeFiles/projects/1

I basically use them to open source and organize the ideas in my brain 😆

[2022-05-02 10:05] alexkornitzer commented on #45
I'll look into this.

[2022-05-02 13:53] jurelou opened #74 "Add sigma metadatas in results"
It would be really nice to have sigma metadatas (especially `level` and `tags`) directly in the json output file.

This would be usefull when indexing results in a SIEM !

Thanks

[2022-05-02 20:15] alexkornitzer commented on #74
Will factor it into the v2 rework which is now underway.

[2022-05-08 10:30] jurelou opened #75 "Evtx files with different extension"
I would like to run chainsaw on a folder of evtx files which does not have the `.evtx` extension, but they are valid binary windows event logs.

Maybe this could be possible via a command line argument ?

thanks !

[2022-05-12 17:31] alexkornitzer commented on #75
As in supporting other event log formats that are not evtx? Or handling evtx files that do not have the evtx extension?

[2022-05-14 18:55] purplebyteone opened #76 "failed to parse manifest at"
![image](https://user-images.githubusercontent.com/17739404/168444840-34997165-01a0-43dd-b318-684b7a5b72a6.png)

[2022-05-14 19:04] alexkornitzer commented on #76
Looks like a `rust` problem to me, what version of rust are you using to compile chainsaw in the above?

[2022-05-14 19:06] purplebyteone commented on #76
rustc 1.48.0

[2022-05-14 21:12] alexkornitzer commented on #76
Right, yep my guess there is that the rust version is too old. I would recommend grabbing it from rustup https://rustup.rs/ then you should be good to go.

[2022-05-15 13:49] #76 closed

[2022-05-16 21:00] jurelou commented on #75
I mean handling evtx files that do not have the evtx extension

[2022-05-16 22:35] alexkornitzer commented on #75
Awesome, cause that is on the list for v2, extension will no longer matter.

[2022-05-21 09:33] ecapuano commented on #59
Just checking in on this as I am experiencing the same issue. Stdout reports 71 detections, but JSON only contains 42. However, my JSON does contain _some_ of the builtin detections, just not all of them. This may be resolved by the same bug fix, but just bringing it to your attention.

Any progress on a fix? Hoping to get this [Velociraptor artifact](https://docs.velociraptor.app/exchange/artifac

[2022-05-21 10:11] alexkornitzer commented on #59
Due to the complexity of how builtins work and the required breaking changes to then expose this in the JSON. I am going to resolve this in the v2 work, but i cant give a timeframe for when i will have time to finish it off. Although i have done the bulk of the work already.

[2022-05-26 16:42] jurelou commented on #74
Do you know when this will be implemented?
This is a major feature for me.
tell me if i can help you

[2022-05-26 18:23] alexkornitzer commented on #74
Apologies for the delay, potentially this weekend, I should be able to get an alpha ready by the end of Sunday.

[2022-05-30 12:48] alexkornitzer commented on #74
Okay so a tad delayed and not properly finished but the `next` branch can now do what you requested. So if urgent while I still finish up the code if you are happy with no guarantees then you can make use of that. Eventually when the code is ready, I will prepare a proper alpha release. For now you can do:

[code]

The output will look something like this:
[code]

Hopefully that output format will

[2022-05-30 17:45] alexkornitzer commented on #74
Have made more progress today, currently chainsaw will run slower than v1 as I have not put the optimisations in yet. But I should be able to get a stable alpha out soon for user feedback due the huge number of changes I have made.

[2022-06-02 14:15] alexkornitzer commented on #45
Working on this now, just to clarify, are you wanting chainsaw to mutate the timestamp column to the local time on output?

[2022-06-02 16:06] alexkornitzer commented on #36
Chainsaw has the `--output` option so I am not sure what you are asking for here exactly. Would you be able to elaborate further?

[2022-06-02 16:19] alexkornitzer commented on #75
This is addressed in v2.0.0-alpha.0

[2022-06-02 16:19] #74 closed

[2022-06-02 16:20] alexkornitzer commented on #68
This is addressed in v2.0.0-alpha.0

[2022-06-02 16:20] alexkornitzer commented on #45
This is addressed in v2.0.0-alpha.0

[2022-06-02 16:20] #45 closed

[2022-06-02 16:21] alexkornitzer commented on #43
No longer going to keep this open as we are tracking this in v2.

[2022-06-02 16:21] #43 closed

[2022-06-02 16:21] alexkornitzer commented on #41
This is addressed in v2.0.0-alpha.0

[2022-06-02 23:10] alexkornitzer commented on #33
This is addressed in 2.0.0-alpha.1

[2022-06-02 23:10] #33 closed

[2022-06-02 23:11] alexkornitzer commented on #35
I think I have fixed this in 2.0.0-alpha.1

[2022-06-02 23:11] #35 closed

[2022-06-07 14:04] alexkornitzer commented on #63
Okay so an XML parser is now in for v2.0.0-alpha.3. I have not thoroughly tested it but it should work. Please not that a new mapping file would need to be written to hunt on this data as the field names and format will be different to that of the evtx parser.

[2022-06-07 14:04] #63 closed

[2022-06-07 14:06] alexkornitzer commented on #58
Right so `--lateral-all` will enable aggregation of data which is generally memory intensive. My guess is that if you look at the exit code it will be due to OOM. There is a change though that with v2 the memory usage is smaller. If you are able to check any of these theories that would be great.

[2022-06-07 14:10] alexkornitzer commented on #36
As this is definitely fixed in v2.0.0-alpha.x, I am closing this issue.

[2022-06-07 14:10] #36 closed

[2022-06-07 14:11] alexkornitzer commented on #59
Right this is solved in v2.0.0-alpha.x so am closing this out. Feed back on the output format should be given in #77.

[2022-06-07 14:56] alexkornitzer commented on #25
I can't replicate this with the example provided in the upstream issue. I get the following output:
[code]

[2022-06-09 01:01] grants235 opened #78 "--lateral-all does not return correct output when mode set to JSON"
There is an issue with the `--lateral-all` flag when used in conjunction with the `--json` flag. The results do not contain any of the eventId 4624 logon events. When using the `hunt` functionality, I am able to use the `--lateral-all` flag and can see a specific event log contains multiple logons at can be seen when the output is left to the default ascii tables. Then using the exact same command

[2022-06-09 12:15] fscc-alexkornitzer commented on #78
Hi @grants235,

This is a know issue with v1 and is not easy to fix due to the reasons listed in #59. For that reason this issue has been addressed in v2 and is currently available as an alpha (#77).

[2022-06-09 12:16] #78 closed

[2022-06-20 21:40] FranticTyping commented on #25
@einarssonm @georgethemarmot - I've confirmed that this issue is no longer present in v2:

Chainsaw v1.1.7
[code]

Chainsaw v2 Alpha
[code]

v2 is still pre-release, but you can try the alpha versions if you're interested. The sample above uses the new inline TAU feature to search for eventIDs and I'm looking at adding the normal `-e` flag back in.

[2022-06-20 21:41] FranticTyping commented on #25
I'm going to close this issue out now, but let me know if you see the problem persisting with V2.

[2022-06-20 21:41] #25 closed

[2022-06-22 19:32] jvmendezp commented on #74
hello, I added this comment https://github.com/countercept/chainsaw/discussions/77#discussioncomment-3004940 requesting sigma tags, and sigma rule id in the results. if we can get arbitrary data from matched sigma rule, this will be wonderful

[2022-06-30 14:02] jvmendezp opened #84 "Problem to identify matched signature due to Sigma rules with similar information"
Hello team, I found some interesting. Look at these sigma rules:

1. https://github.com/SigmaHQ/sigma/blob/master/rules/windows/builtin/security/win_susp_failed_logons_single_source.yml
2. https://github.com/SigmaHQ/sigma/blob/master/rules/windows/builtin/security/win_susp_failed_logons_single_source2.yml

Both have the same value for the following fields: title, description, tags, date, modified,

[2022-06-30 14:13] fscc-alexkornitzer commented on #84
This should be solved in v2 when we add the ability to display the `id` field, but currently you are correct in that there is no way to deduce this. IMO Sigma rules should not be reusing titles, if the rule is the same, then the logic should be combined this is just bad rule writing if you ask me. I am going to try and get you extra sigma rules request work done this weekend.

[2022-06-30 14:14] jvmendezp commented on #84
Thanks a lot!

[2022-07-12 10:45] alexkornitzer commented on #84
This is in the beta.

[2022-07-12 10:45] #84 closed

[2022-07-22 11:56] b1draper opened #89 "Sigma.csv Formatting"
In version 2.0.0-beta.2 - There appears to be a formatting issue with the sigma.csv file. In the "Event Data" column the data appears as blank or as "---" due to formatting and a few carriage returns. When processing the same data with the older version 1.1.7 the formatting issue didn't show up since I believe that the "sigma.csv" might be a new report
<p>
<b>Example Showing how it displays in Tim

[2022-07-22 11:59] dsplice opened #90 "--skip-errors fails on File System errors"
It appears that issue #49 https://github.com/countercept/chainsaw/issues/49#issue-1072543106 has returned.  This is with V2.0.0-beta.2

[2022-07-22 13:52] alexkornitzer commented on #89
Hi @b1draper,

They come in for me but with the `sigma-event-logs-all` mapping the `EventData` is stored as a YAML string. Thus my assumption here is that the tool you are using in the above has not expanded the cell to show you all of its contents, or it is not handling carriage returns within strings correctly.

<img width="692" alt="Screenshot 2022-07-22 at 14 48 45" src="https://user-images.gi

[2022-07-22 14:00] alexkornitzer commented on #90
I can't seem to replicate this, are you able to show the output you got and the command you ran so I can hopefully use that to work out what is going on?

<img width="839" alt="Screenshot 2022-07-22 at 14 59 11" src="https://user-images.githubusercontent.com/2750747/180455223-ebc5c26c-1ad1-4dcd-aaeb-48c70aea919d.png">

[2022-07-22 14:26] alexkornitzer commented on #90
This should be fixed in `2.0.0-beta.3` assuming I have caught the right bug, please could you check if this build fixes it?

[2022-07-22 14:33] b1draper commented on #89
Hello Alex,

Thanks for getting back to me so quickly. I'm viewing the CSV file using
Eric Zimmerman's Timeline Explorer. I imagine that if I viewed the files
within Excel it would probably be ok. But Timeline Explorer is a DFIR
mainstay and handles large files really well. The syntax I'm using is as
follows.
./chainsaw hunt /mnt/h/Customer/FS1/export/eventlogs/ --mapping
./mappings/sigma-event-lo

[2022-07-22 15:06] alexkornitzer commented on #89
No worries,

Right so I just tried it and the data is there, if you hover or double click on the cell it will show the full contents. I can't see a way to expand the cell height, so it might be worth putting that in as a feature request to Timeline Explorer?

I am not sure if its worth changing Chainsaw side as the data is more readable in this format, but am very open to suggestions. We could pot

[2022-07-22 16:05] EricZimmerman commented on #89
it already does that. if there are CRLFs and whatnot, the rows expand. to see this, dump an MFT to csv and load it, then look in the Zone id column and you will see how the data shows up.

there does not seem to be anything to do here. if there are CRLFs and the CSV is properly formatted, TLE will expand the rows.

![image](https://user-images.githubusercontent.com/4265254/180479225-c156c6bc-806f-

[2022-07-22 16:20] alexkornitzer commented on #89
@EricZimmerman, thanks for the clarification and example, super helpful. In that case I have a feeling then it is because Chainsaw is only using `\n` and not doing CRLF. I will dig into it now.

[2022-07-22 20:47] dsplice commented on #90
![image](https://user-images.githubusercontent.com/1919754/180565613-bfc2dc95-c4dd-47d4-8737-9665a624d60b.png)

[2022-07-22 21:33] alexkornitzer commented on #90
Ah damn, thanks for the above though, can see exactly where that has fallen into. Right lets see if I managed to fix the above with beta 4! Apologies for the build spam.

[2022-07-22 21:53] alexkornitzer commented on #89
Hi @EricZimmerman,

I must be doing something incredibly wrong because even with a very basic CSV I cannot get Timeline Explorer (1.3 or 2.0) to expand the row. I can tell it has parsed it correctly because the tooltip and the cell view both recognise the line break and format it correctly. Do you have any thoughts as to what I could be doing wrong here?

<img width="168" alt="Screenshot 2022-07-2

[2022-07-22 22:54] dsplice commented on #90
All good!  Happy to help in any little way I can.

[2022-07-22 23:56] EricZimmerman commented on #89
What does it do in 2.0?

I don't see why it would not work

[2022-07-23 08:57] alexkornitzer commented on #90
Did that work? Happy for me to close this issue out?

[2022-07-23 09:05] alexkornitzer commented on #89
2.0 is displaying it in exactly the same way as 1.3 for me.

[2022-07-23 11:18] alexkornitzer commented on #89
Okay I have worked it out, Timeline Explorer is only enabling multiline support if `Zone` is in the column name hence the cells not being expanded. I am going to close this issue out as it is not a Chainsaw bug.

<img width="375" alt="Screenshot 2022-07-23 at 12 18 16" src="https://user-images.githubusercontent.com/2750747/180602840-21e7aa9d-350c-49cd-bf1b-e0a4fc2e3814.png">
<img width="389" alt="

[2022-07-23 11:18] #89 closed

[2022-07-23 13:46] EricZimmerman commented on #89
Ah okay so in that case simply creating a plugin to support chainsaw for timeline explorer would solve this issue on all fronts and any other format

[2022-07-23 13:56] b1draper commented on #89
Guys,

Thanks for working on this.

On Sat, Jul 23, 2022 at 9:46 AM Eric ***@***.***> wrote:

[2022-07-23 14:01] FranticTyping commented on #89
I would maybe suggest making a toggle option for Timeline Explorer to expand the column as opposed to a plugin specifically for Chainsaw? Otherwise there would likely need to be a plugin for each CSV format moving forwards, as opposed to one generic solution.

Either way, it sounds like we have identified that the support needs to be added on the TimelineExplorer side for this issue. Thanks for ev

[2022-07-23 14:03] alexkornitzer commented on #89
Additionally @b1draper if you just wanna view the data now and not wait for changes if you add `Zone` into the name for Event Data field this will trick TE into using multiline.

[2022-07-23 14:07] EricZimmerman commented on #89
That suggestion won't work because I would have to make every single field a particular type of editor

It's trivial to make a new plugin for CSV formats that are going to be used a lot which is the right approach anyway because it gives you strongly type data versus treating everything as strings

I could certainly add another line like currently exists where it looks for the string multi and ena

[2022-07-24 07:06] dsplice commented on #90
I just downloaded to try it.  Seems Windows Defender detects it as malware.

![image](https://user-images.githubusercontent.com/1919754/180636382-486a1f04-1902-463e-ae04-0ce1a30ce967.png)

[2022-07-24 08:26] alexkornitzer commented on #90
Weird it should only potentially think its malware if it the zip containing the attack samples too. Which it doesn't look like you downloaded in the above.

[2022-07-24 09:46] dsplice commented on #90
Latest update of the malware definitions fixed the false positive.  However the error is still there.

[2022-07-24 10:02] alexkornitzer commented on #90
Good you got that sorted, but ah damn, okay still the same error message as you posted above?

[2022-07-24 10:14] alexkornitzer commented on #90
Okay I am a tad stumped with this one as I just booted my windows VM and pointed Chainsaw at the `C:\` drive and it ran through to the end when `--skip-errors` was enabled. Just to double check based on the `(1)` in your screenshot above, you definitely ran beta 4 and not 3 right?

<img width="1054" alt="Screenshot 2022-07-24 at 11 13 04" src="https://user-images.githubusercontent.com/2750747/1806

[2022-07-24 10:21] dsplice commented on #90
I verified the version, beta 4.  This was run against a vhdx, so that could be an issue too.  If it works everywhere else (and seems to), I would just chalk it up to a weird edge case.

[2022-07-24 10:24] alexkornitzer commented on #90
What error message are you getting now, because if its a different one, then it will be a different code path we have not caught. If it is the same error message then I am very confused because I am about 90% sure that I have caught that one. But yep worst case we can close this out until it happens again, but I would prefer to get it squashed.

[2022-07-24 10:26] dsplice commented on #90
Same exact error.  I can provide screenshot tomorrow.

[2022-07-24 10:29] alexkornitzer commented on #90
Okay lets have a look tomorrow, you might have to just let me know what you are running on and I will try and replicate that as close as possible but that error message is definitely guarded away now.

https://github.com/countercept/chainsaw/blob/master/src/file/mod.rs#L299-L302
[code]

[2022-07-25 17:04] ramanathanc7 opened #91 "Table formatting issue in "Suspicious Process Creation""
I am seeing a table formatting issue with a specific group - "Suspicious Process Creation". Should I be making any changes for this to corrected?

Chainsaw Version - chainsaw_x86_64-pc-windows-msvc.exe-hunt 2.0.0-beta.4

![image](https://user-images.githubusercontent.com/93029119/180834439-d6cabf34-4269-4ed1-9c54-08d701162ad6.png)

[2022-07-25 17:11] #91 closed

[2022-07-25 19:56] dsplice commented on #90
I am running it on a KAPE triage image (VHDX) taken from a full disk image (E01).  Here is a screenshot of the root directory.

![image](https://user-images.githubusercontent.com/1919754/180863452-dd9390ea-b151-437f-8178-3922a57d2c90.png)

[2022-07-25 20:07] FranticTyping commented on #90
Hey @dsplice

Thanks for sending over the screenshot, the helps.

Just to make sure we’re all on the same page, could you send across a screenshot showing the full command you’re using and the error you see, and also a screenshot of the output of `chainsaw.exe —version` please?

Thanks!

[2022-07-25 20:34] dsplice commented on #90
![image](https://user-images.githubusercontent.com/1919754/180869037-cfe2eb88-a538-4db9-921f-7ced8ed1e7f5.png)

If I run it with the target of D:/D (subdirectory without System Volume Info) it runs fine.  Just on the SVI directory.

[2022-07-25 21:01] FranticTyping commented on #90
@dsplice that's great, thanks!

Can you try running that command again with the `--skip-errors` flag, e.g:

[code]

That should allow Chainsaw to continue past that error, which I think is what you want?

[2022-07-25 21:28] dsplice commented on #90
Darn, I must have missed that in the last testing.  Ignore me.  It works fine now  😊

[2022-07-25 21:30] FranticTyping commented on #90
Glad to hear it's all working well, thanks for helping us troubleshoot!

[2022-07-25 21:30] #90 closed

[2022-07-26 13:10] b1draper commented on #89
Good Morning Eric,

The work around that Alex mentioned works but (but it is not very easy for
me to articulate to other analysts that I know). I was curious if you're
still planning on writing the plug-in for the chainsaw sigma.csv file?

Thanks for your help

On Sat, Jul 23, 2022 at 10:07 AM Eric ***@***.***> wrote:

[2022-07-26 13:59] EricZimmerman commented on #89
i wasnt planning on it, but the plugins are open source. anyone can write it. you may be able to convince andrew to write a plugin for it, but i would have to tweak things in TLE proper to detect the column that has multiple lines.

its a tricky problem to balance. the plugin is easy, the second part is more difficult

[2022-08-24 12:38] ancailliau opened #94 "Inconsistent data type parsing between JSON and XML"
JSON parser parses 5 as an integer while XML parser parses as a string. We can't write a rule that would match on the same events represented in XML or JSON.

Assuming two simple examples `test.json`

[code]

and `test.xml`

[code]

With their respective mappings:

[code]

[code]

This Sigma rule only triggers on the JSON file.

[code]

This Sigma rule only triggers on the XML file.

[code]

A sin

[2022-08-25 21:30] alexkornitzer commented on #94
Apologies for the late reply, was going to respond this morning but I got waylaid at the office!

Yeah so this is a pretty standard problem when it comes to generalised rule formats, I thought I had added type coercing support into the mapping files but I must have forgotten. I will get that done tomorrow, it will probably end up looking something like this:

[code]

Thanks for the thorough minima

[2022-08-26 09:56] alexkornitzer commented on #94
@ancailliau when you get time if you could test the master branch that would be great. Thanks again for filing this as I found a bug in the mapper as well :)

[2022-08-26 10:28] Maspital opened #95 "Is it possible to parse .json/.jsonl files that contain other log formats?"
Hey, I hope my question isn't badly phrased or has already been asked.

I am trying to obtain sigma hits for logs produced by a simulated network. Problem is that those are not in the .evtx format whatsoever, instead relevant logs from windows machines are collected by _winlogbeat_ and then sent to an _elasticsearch_ instance running on a separate Ubuntu server, from which they are extracted and t

[2022-08-26 12:37] alexkornitzer commented on #95
Hey @Maspital,

So Chainsaw supports JSON, you can see a super simple example in #94, but it does not support JSONL. The format is just newline delimited JSON so adding in support for that should be very simple. I'll see what I can do.

Alex

[2022-08-26 13:04] Maspital commented on #95
That would be neat, thank you a lot. Guess my question was badly worded then, I'm still somewhat new to this :smile:

[2022-08-26 13:46] alexkornitzer commented on #95
The initial implementation is live in the master branch if you want to give it a go. I have not optimised it yet though, so if the files are very large it will use a fair amount of RAM at the moment.

[2022-08-26 14:03] Maspital commented on #95
That was incredibly fast. Seems to work!
[code]
Guessing the last thing left to do for me is do adapt the mapping properly. In my log example above, what is the correct way to map to a field? E.g. how do I correctly tell Chainsaw where it can find the destination port in the example below:
[code]
Guessing from the default mapping
[code]
I need to change it to something like this?
[code]
Thank you

[2022-08-26 14:32] alexkornitzer commented on #95
Yep exactly, the wording in the mapping file is a tad confusing (and we can't change it now without making breaking changes) but it is in the context of the rule so it can be read like so: `from` the field in rule map it `to` the field in file.

I have also implemented the correct optimisations so the RAM problem I mentioned above should now not be an issue.

[2022-08-26 14:32] #95 closed

[2022-08-30 13:36] danielgottt opened #96 "Issue with CSV output not populating "Event Data" row"
Hi Team,

When I output chainsaw detections into a csv I notice the actual data isn't populating within the "Event Data" row. I'll throw my cmdline arguments below along with an example output.

./chainsaw.exe hunt Logs/SOMEFILE.evtx -s sigma/rules/ --mapping mappings/sigma-event-logs-all.yml --full --output results --csv

I am getting detections but nothing is populating within that row 😢
![1](ht

[2022-08-30 14:03] FranticTyping commented on #96
Hey @danielgottt,

The data is there, if you expand the EventData cell downwards you should be able to see it.

let me know if you still have issues :)

[2022-08-30 14:05] danielgottt commented on #96
oh boy what a stupid mistake. Appreciate it!

[2022-08-30 14:05] #96 closed

[2022-09-15 13:51] RossMadness opened #99 "Chainsaw 2 Doesn't Recognize .evt Files"
Hello there.

First, thank you for the great tool. This has been a wonderful tool in the infosec tool belt.

The issue I'm having may not be an "issue" at all, but a misunderstanding on my part. The EDR I use allows me to collect investigation packages from endpoints and in that package I get a variety of event log files that all end with the extension .evt (not .evtx). Previously I was using Chai

[2022-09-15 18:43] alexkornitzer commented on #99
Ah good spot, i'll add that additional file type back in. Sorry about that.

[2022-09-16 10:54] #99 closed

[2022-09-16 15:22] #94 closed

[2022-09-21 17:13] chronocrate opened #100 "chrono-tz phf dependency"
Trying to compile this in Kali 5.5.0-kali2-amd64 and getting the error below.  I tried deleting the ./cargo/registry folder according to this [https://blog.illixion.com/2021/10/fix-failed-to-select-a-version-cargo/](url) but that yielded the same results.  Is this a Kali repository issue?

failed to select a version fort he requirment 'phf = "=0.11.1"`
candidate versions found which didn't match:

[2022-09-22 02:42] redhunt45 commented on #100
I experienced the same issues with Ubuntu 22.04. I removed cargo after installing it with apt-get install cargo.  I installed Rust with rustup listed on the official rust site and then I was able to compile Chainsaw with any further issues.
https://www.rust-lang.org/tools/install

[2022-09-23 11:44] KRUXLEX opened #101 "Issue with linux bash execution by multi directories"
HI,
When I want hunt multpile directories I get some trouble with directory interpretation. Below will show a problem:
[code]
Like you see, firs hunted directory is added to detection rules... Why? It isn'\t after switch -r or -s.

I was try many combination and effect is the same:
[code]

[2022-09-25 15:18] KRUXLEX opened #102 "Chainsaw uses a lot of RAM when processing large individual files with a large number of detections"
In version 2.x I,m experiencing a out of memory issue. When i I analyze more that 3-4 files it start eating RAM memory. It's so hungy:
![obraz](https://user-images.githubusercontent.com/22861005/192151115-cf9a2e93-3c3b-4fee-8606-6aeb5dd01205.png)

Issue reproduce:
[code]

Monitor term in hunt time:
[code]

I think, the problem is with reporting detection. It's keep it in memory and after finish al

[2022-09-25 15:24] KRUXLEX commented on #100
Try tune in sudo. It must install new lib on root directory. Have same issue

[2022-09-25 16:42] alexkornitzer commented on #102
It should be storing as little information as possible to keep RAM usage to a minimum but there must be some oversight somewhere. I'll profile it when I get some time and fix the issue if I can replicate it.

[2022-09-25 16:47] alexkornitzer commented on #102
Quick one, do you get insane RAM usage if you output in json (-j)?

[2022-09-25 19:36] KRUXLEX commented on #102
Just check. Yup on json is similar

[2022-09-25 21:28] alexkornitzer commented on #102
Okay, thanks for checking I know exactly what the issue is. I'll try and get a solution in place this coming week.

[2022-09-25 21:32] KRUXLEX commented on #102
Thanks, actually work around is bash for loop :D

[2022-09-25 21:34] chronocrate commented on #100
I'll give that a try tomorrow.  Thanks in advance.

On Sun, Sep 25, 2022, 11:24 AM KRUXLEX ***@***.***> wrote:

[2022-09-27 16:00] alexkornitzer commented on #100
@chronocrate, if you install using rustup it will install the latest rust and cargo.

https://rustup.rs

[2022-09-27 17:17] #101 closed

[2022-09-27 18:04] chronocrate commented on #100
That worked, I had a path issue in addition but it's sorted now.  Thanks a
lot!

On Tue, Sep 27, 2022, 12:00 PM Alex Kornitzer ***@***.***>
wrote:

[2022-09-27 18:28] #100 closed

[2022-09-29 09:28] ancailliau commented on #94
Sorry, I did not see your comment. I'll test as soon as possible and provides feedback.

[2022-10-03 21:52] mkwired opened #103 "Count column"
The behavior of Chainsaw does not work as I thought.  I assumed the output column 'count' represents the number of occurrences of that specific event, but based on my EVTX files, that does not appear correct.  So what does the 'column' mean?

![Clipboard04](https://user-images.githubusercontent.com/649308/193691767-64364a55-d50f-4a1c-9505-208ed6e05977.png)

[2022-10-05 08:00] alexkornitzer commented on #103
Hey, so the count in this context it about how many documents were needed to cause the detection to fire. Thus it is only really there to inform users when aggregation based rules trigger such as brute force attacks. The reason it is shown in every row is for consistency. Very happy to change or improve things, do you have any thoughts on it?

[2022-10-07 15:31] alexkornitzer commented on #102
This is now in master.

[2022-10-07 20:30] Marwolf opened #104 "Incorrect hunt examples displayed"
Using the latest release (2.1.1), I found the example hunts displayed when executed without any arguments to be out of date and no longer working.

![image](https://user-images.githubusercontent.com/16737510/194647785-78afa239-2414-4c86-a58e-2d2e17024e76.png)

A working updated hunt example would be the following (executed using PowerShell):
`.\chainsaw_x86_64-pc-windows-msvc.exe hunt .\EVTX-ATTAC

[2022-10-10 21:30] FranticTyping commented on #104
@Marwolf - Thanks for pointing this out. This should be fixed now.

[2022-10-10 21:30] #104 closed

[2022-10-12 12:55] Maspital opened #107 "Definition of "logsource" values like product or category."
Hey,

I am currently using chainsaw + SIGMA to evaluate log datasets and stumbled upon the following issue:
Certain SIGMA rules produce an abnormally high number of false positives, to the point where I suspect that it just triggers on most events. The rule in question is
[code]
I think the problem is that the category in question (`file_block`) is not mapped to anything - where and how can I defi

[2022-10-12 20:42] FranticTyping commented on #107
Hey @Maspital

I'm guessing you're running chainsaw with the `sigma-event-logs-all.yml` mapping file. This mapping file does not filter based on provider name or category which means that some Sigma rules (like the file block one you mentioned above) cause a huge number of false positives.

You could either extend the sigma rule to also require a specific event ID (which should cut down the number

[2022-10-12 22:16] alexkornitzer commented on #107
There is also potential to add category support to the mapping to apply 'x' filter when category 'y' is set. But this would require code enhancements.

[2022-10-13 07:41] Maspital commented on #107
Yes, I'm using a modified version of `sigma_event_logs.all` (because winlogbeat likes to name stuff differently). Changing SIGMA rules themselves even slightly is something I would like to avoid because I want to be able to say "this dataset was created with SIGMA vXX" so it can be reproduced easily (though this is probably the easiest solution). In this case the change would be simply, but I woul

[2022-10-13 10:23] alexkornitzer commented on #107
So adding this code wise is pretty easy the challenge comes from how to extend the mapping schema in a clear way, my current thinking is something like this:

[code]

Where the `for` block can consist of different identifiable fields of a Sigma rule.

[2022-10-13 10:56] Maspital commented on #107
That looks great! Assuming knowledge of Sigma rules in general, this is nice and understandable in my opinion.

So this would work for whatever field may be defined within the `logsource` of a rule?

[2022-10-13 11:18] alexkornitzer commented on #107
Ah good spot nah I would wanna support things like name too, so it should be this:
[code]

But awesome, okay i'll see if I can do this when I get time otherwise i'll lob it at someone else :)

[2022-10-19 11:13] Maspital commented on #107
Any news regarding this? :) @alexkornitzer

[2022-10-19 14:35] alexkornitzer commented on #107
@Maspital can you give the `feature/extensions` branch a try?

[2022-10-19 16:24] Maspital commented on #107
Seems to work nicely, at least for the things I tested :+1: I will try it out in more detail tomorrow

[2022-10-19 16:56] alexkornitzer commented on #107
Awesome. If it all seems fine tomorrow i'll get that merged in and released.

[2022-10-20 14:54] alexkornitzer commented on #107
Thanks for checking that all out. Right so the first one is probably not doable because I don't think I have put support in to handle nested syntax for a filter so this `not(int(EventID))` probably won't work. We would need to upgrade the filter to be a full Tau block with `condition` support, so maybe that can come in later as its not too difficult to add. I should add array support into the `for

[2022-10-20 15:15] alexkornitzer commented on #15
This is a very late response but that latest version is running in Windows 7 so I am going to close this out.

[2022-10-20 15:15] #15 closed

[2022-10-20 15:17] alexkornitzer commented on #26
As the features required are now exposed that there has been no response or progress with this issue I am going to resolve it out. It can be reopened if required.

[2022-10-20 15:17] #26 closed

[2022-10-24 10:30] m-terlinde opened #108 "Add timestamp format to help output"
Hey guys,

thanks for the new major release!

The output of `.\chainsaw.exe hunt -h` sadly does not provide the correct syntax for the timestamps for the `--from` and `--to` option.

I just found the correct format on the GitHub site in the last example.

Could you please add the format to the help output?
I'm not familiar with Rust. Is it as easy as changing https://github.com/WithSecureLabs/chai

[2022-10-24 10:44] m-terlinde opened #109 "Deserialization error does't not show responsible file"
Hey guys,

if the given evtx folder has a corrupt file, chainsaw 2.2 will fail without telling me, at which file it got stuck. So I don't have a chance to fix it by hand or deleting the file in question.

I used chainsaw 1.1.4 to find the offending file, the error message there outputs the path :D.

In my case, the file was just empty. So maybe a "is file empty"-check before deserialization would

[2022-10-29 12:36] alexkornitzer commented on #108
What would you like here? An example format in the help output?

[2022-10-29 12:37] alexkornitzer commented on #109
Will get that feature back in when I get some time.

[2022-11-07 09:15] m-terlinde commented on #108
A simple "YYYY-MM-dd HH:mm" or so would be awesome :)

Giving a concrete example date could be a bit ambiguous, depending on the region.

[2022-11-14 11:33] #108 closed

[2022-11-14 11:34] #109 closed

[2022-11-14 13:18] m-terlinde commented on #109
Thanks a lot!

Your work is much appreciated.